* {
  background-color: #292929;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  margin-right: 10px;
  font-size: large;
}

.searchRow {
  margin-bottom: 10px;
}

.header {
  text-align: center;
  font-family: 'Teletactile', sans-serif;

  /* font-family: 'Teletactile-3zavL', sans-serif; */
}

.title {
  font-family: 'Teletactile', sans-serif;
}

.topOptions {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.topButton {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 80px;
  height: 23px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s;
}

.topButtonActive {
  background-color: #1ef4e7;
  color: #292929;
  border-radius: 5px;
  width: 80px;
  height: 23px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s;
}

.topButton:hover {
  background-color: #1ef4e7;
  color: black;
}

.find {
  margin-top: 0;
}

.buttonText {
  background-color: white;
  color: black;
}

.retunLinkHolder {
  text-align: center;
  margin-bottom: 20px;

  /* font-size: large; */
}

.returnLink {
  /* font-size: large; */
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
  transition: background-color 0.5s;
}

.returnLink:hover {
  background-color: #1ef4e7;
  color: black;
}

.resultsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.resultBox {
  width: 225px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  transition: opacity 400ms;
  font-size: large;
  animation: slide-up 0.5s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.red {
  color: #dc2626;
}

.searchButton {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;

  /* width: 80px;
  height: 23px; */
  padding: 3px;
  margin-top: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.5s;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #1ef4e7;
  color: black;
}

@media screen and (min-width: 370px) {
  .resultBox {
    width: calc(50%);
    padding: 10px;
  }
}

@media screen and (min-width: 742px) {
  .resultBox {
    width: calc(100% / 3);
    padding: 10px;
  }
}

@media screen and (min-width: 960px) {
  .resultBox {
    width: calc(25%);
    padding: 10px;
  }
}

.gameImage {
  max-width: 120px;
}

.imageHolder {
  width: 120px;
  height: 171px;
  background-color: rgb(135, 138, 138);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.purchaseButton {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.5s;
  font-weight: bold;

  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.purchaseButton:hover {
  background-color: #1ef4e7;
  color: black;
}

.infoDiv {
  margin-bottom: 3px;
}

.avaialbeAt {
  margin-bottom: 10px;
}

.starHolder {
  margin-top: 10px;
}

.far {
  transition: color 0.5s;
  cursor: pointer;
}

.far:hover {
  color: #1ef4e7;
}

.fas {
  color: #1ef4e7;
}

.errorMessage {
  text-align: center;
  font-size: larger;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
